body{
	font-family: Helvetica;
}

header{
	width: 80%;
    margin: auto;
	border: 1px solid black;
	background-image: url("../images/pattern.jpg");
}

h1{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	color: khaki;
}

h2{
	font-size: 32px;
	font-weight: bold;
	color: white;
}

figure{
	margin-left: 0;
}

figcaption h4{
	font-size: 25px;
	margin-top: 15px;
}

a{
	text-decoration: none;
}

p{
	font-size: 18px;
}
span{
    font-weight: bold;
    color: blue;
}

.brush-ctr div{
    background-color: mediumspringgreen;
}

.brush-ctr, .frame-ctr, .paint-ctr{
	width: 80%;
	margin: auto;
	margin-top: 60px;
}

.frame-ctr div{
    background-color: lightcoral;
}

.paint-ctr div{
    background-color: skyblue;
}
